# Ignore everything
*

# But not these files
!/.gitignore
!/README.md
!/export.js
!/import.js
!/reset.js
!/fetch-extensions-info.js
!/util.js
!./dist/*
!/package.json
!/package-lock.json

# Default Configuration
!extensions.json
!settings.json
!keybindings.json
